*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*HEADER*/
.header-box{
    background-color: aquamarine;
}
/*APERTURA PRIMO NAV*/
#first-nav-left{
    width: 200px;     
}
#first-nav-left ul{
    list-style-type: none;
}
#first-nav-left ul li{
    border: 1px solid;
    width: 45%;
    height: 50px;
    padding: 15px;
    float: left;
}
#first-nav-right{
    width: 300px;  
    float: right;    
}
#first-nav-right ul{
    list-style-type: none;
}
#first-nav-right ul li{
    border: 1px solid;
    width: 30%;
    height: 50px;
    padding: 15px;
    float: right;
}
.first-nav-box{
    height: 50px;
    background-color: antiquewhite;
    width: 80%;
    margin: auto;
}
/*CHIUSURA PRIMO NAV*/
/*APERTURA SECONDO NAV*/
.second-nav-box{
    height: 50px;
    background-color: antiquewhite;
    width: 80%;
    margin: auto;
}
#second-nav-left{
    width: 200px;
    background-color: blue;
}
#second-nav-left ul{
    list-style-type: none;
}
#second-nav-left ul li{
    border: 1px solid;
    width: 45%;
    height: 50px;
    padding: 15px;
    float: left;
}
#second-nav-right{
    width: 700px;  
    float: right;
}
#second-nav-right ul{
    list-style-type: none;
}
#second-nav-right ul li{
    border: 1px solid;
    width: 12%;
    height: 50px;
    padding: 15px;
    float: right;
}
/*CHIUSURA SECONDO NAV*/
/*APERTURA PARTE CENTRALE HEADER*/
#main-header{
    width: 80%;
    margin: auto;
    height: 400px;
    background-color: blueviolet;
}
.main-header-block{
    width: 50%;
    height: 100%;
    background-color: blue;
    padding-top: 50px;
}
#main-header-titolo{
    height: 20%;
    width: 70%;
    border: 1px solid;
}
#main-header-primo-paragrafo{
    height: 20%;
    width: 70%;
    border: 1px solid;
}
#main-header-bottone{
    height: 20%;
    border: 1px solid;
    width: 70%;
}
#main-header-secondo-paragrafo{
    height: 10%;
    border: 1px solid;
    width: 70%;
}
/*CHIUSURA PARTE CENTRALE HEADER*/
/*APERTURA FOOTER-HEADER*/
#footer-header{
    height: 50px;
    background-color:lightgreen;
    border-bottom: 3px solid lightgrey;
    border-top: 3px solid lightgrey;
}
/*CHIUSURA FOOTER-HEADER*/
/*APERTURA MAIN*/
/*APERTURA MAIN PRIMA PARTE*/
.main-first-part{
    width: 80%;
    height: 600px;
    margin: auto;
    background-color: brown
}
#img-top-main{
    width: 150px;
    height: 150px;
    background-color: blue;
    margin: auto;
}
#primo-paragrafo-main{
    width: 60%;
    margin: auto;
    background-color: blueviolet;
}
.sottosfondo-main-first-part{
    width: 80%;
    height: 300px;
    margin: auto;
    background-color: bisque;
}
#sottosfondo-main-first-part-left{
    width: 40%;
    height: 100%;
    background-color: aqua;
    float: left;
    padding: 10px;
}
#sottosfondo-main-first-part-right{
    width: 50%;
    height: 100%;
    background-color:lightcyan;
    float: right;    
}
#sottosfondo-main-first-part-left-img{
    width: 50%;
    height: 50%;
    background-color: cadetblue;
    margin: auto;
}
#sottosfondo-main-first-part-left-bottone{
    width: 50%;
    height: 30%;
    padding: 10px;
    background-color: lightpink;
    margin: auto;
}
#sottosfondo-main-first-part-right{
    padding: 10px;
}
#sottosfondo-main-first-part-right-titolo{
    width: 80%;
    height: 20%;
    background-color: chartreuse;
    border: 1px solid;
}
#sottosfondo-main-first-part-right-paragrafo{
    width: 80%;
    height: 20%;
    background-color: chartreuse;
    border: 1px solid;
}
#sottosfondo-main-first-part-right-insieme{
    width: 80%;
    height: 20%;
    background-color: chartreuse;
    border: 1px solid;
}
#sottosfondo-main-first-part-right-blocchi{
    width: 80%;
    height: 20%;
    background-color: chartreuse;
    border: 1px solid;
}
#sottosfondo-main-first-part-right-insieme-left{
    width: 45%;
    height: 100%;
    background-color: lightskyblue;
    border: 1px solid;
    float: left;
}
#sottosfondo-main-first-part-right-insieme-right{
    width: 45%;
    height: 100%;
    background-color: lightskyblue;
    border: 1px solid;
    float: right;
}
/*CHIUSURA MAIN PRIMA PARTE*/
/*APERTURA MAIN SECONDA PARTE*/
/*CHIUSURA MAIN SECONDA PARTE*/
/*APERTURA MAIN TERZA PARTE*/
/*CHIUSURA MAIN TERZA PARTE*/
/*CHIUSURA MAIN*/

