*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sfondo.primo-nav{
    background-color: lightskyblue;
    border-bottom: 1px solid lightgrey ;
}
nav{
    height: 60px;
}
.widther{
    width: 80%;
    background-color: bisque;
    margin: auto;
}
.blocchi {
    width: 40%;
    height: 100%;
    display: inline-block;
}
li{
    list-style-type: none;
}
.blocchi ul li{
border: 1px solid;

line-height: 60px;
}
.blocchi ul li.left{
    float: left;
    width: 40%;
}
.blocchi.dx{
    float: right;
}
.blocchi ul li.right{    
    width: 33.3%;
    float: left;
}
.sfondo.secondo-nav{
    background-color:lightpink;
}
.blocchi ul li.right.secondo{    
    width: 20%;
    float: left;
}
#main-nav{
    height: 500px;
    background-image: url(img/jumbotron.png);
   background-size: cover;
    background-position-y:bottom;
    background-position-x: right;
    background-repeat: no-repeat;
}

#main-nav .widther{
    width: 40%;
    height: 80%;
    background-color: blue;
    float: left;
    margin-left: 10%;
}
#main-nav .widther ul{
    height: 300px;
    padding: 30px 50px ;
}
#main-nav .widther ul li{
    height: 30%;    
    border: 1px solid;
}
main{
    background-color: lightgray;
}
.main-top{
    width: 60%;
    margin: auto;
    border: 1px solid;
}
.main-top ul{
    padding-top: 35px;
}
.main-top ul li{
    border: 1px solid;
}
.main-top ul li img{
    width: 40%;
    position: relative;
    left: 25%;
}
.white{
    background-color: white;
    height: 300px;
    padding: 40px;
}
.white #left {
    border: 1px solid;
    float: left;
    width: 40%;
}
.white #left li{
    border: 1px solid;
}
.white #right {
    border: 1px solid;
    float: right;
    width: 60%;
}
.white #right li{
    border: 1px solid;
}
.row{
    margin-top: 10px;
}
.row div{
    float: left;
    border: 1px solid;
    height: 500px;
    width: 30%;    
}
#divisore{
    margin: 0 5% 0 5%
}
.row div ul li{
    border: 1px solid;
    margin-top: 10px;
}
.row div ul li img{
    width: 40%;
    position: relative;
    left: 30%;
}
.row div ul li h2{
    text-align: center;
}
.row div ul li p{
    text-align: center;
}
.row div ul li hr{
   padding: 10px;
}
.row div ul li h3{
    text-align: center;
 }
 .row div ul li ul li{
    border: 1px solid;
 }
 .row div ul li button{
    width: 60%;
    height: 50px;
    position: relative;
    left: 20%;
    border-radius: 5px;
    
 }